body{
    font-family: 'Segoe UI', sans-serif;
    background:linear-gradient(to right, #0adceb, #0aeb8d); 
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    margin: auto;
    padding: 25px;
    max-width: 600px;
    box-shadow: 0 8 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 12px;
    width: 100%
}

/* container lai slightly scale up garchha */
.container:hover{
    transform: scale(1.01);
}


h1, h2{
    text-align: center;
    color: teal;
    margin-bottom: 20px;
}

input{
    /* display: cover; */
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid #ccc;

}

.input-class{
    margin-bottom: 20px;
}

button{
    background-color: #a3af6d;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    margin-top: 5px;
}

button:hover{
    background-color: #1deb0a;
}

select{
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #01ccffbd;
    font-size: 14px;
}

.summary{
 background-color: #bdcecf;
 padding: 8px;
 border-radius: 10px;
 margin-bottom: 15px;
 font-weight: bold;
 color: red;
}

table{
    margin-top: 15px;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
  width: 20vw;
  border: 1px solid rgb(122, 13, 13);
  text-align: left;
}

